<div class="row">
    <div class="col-xs-12">
        <p>Add new server blue</p>
        <label>Server name</label>
        <input type="text" class="form-control" #serverNameInput>
        <label>Server content</label>
        <input type="text" class="form-control" #serverContent>
        <br>
        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
</div>